* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background:#141414;
  font-family: sans-serif;
  margin: 0 auto;
}

p {
  color: hsl(288, 66%, 41%);
  font-size: 160%;
  line-height: 155%;
  padding: 3%;
  text-indent: 2%;
  text-align: justify;
}

h3 {
  font-size: 175%;
  line-height: 155%;
  font-weight: 500;
  color: hsl(288, 82%, 42%);
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  
}

a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  font-weight: bold;
  font-style: italic; 
}
a:hover {
  color: #c3d7df;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  width: auto;
  margin-bottom: -4px;
}

#wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

#banner-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0 3% 0;
}

header {
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
}

header #logo img{
  margin: 20px;
  float: left;
  width: 50px;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-size: 100% auto;
}

/* NAVIGATION*/
nav {
  float: right;
  padding: 25px 20px 0px 0px;
}


#menu-icon {
  display: none;
  font-size: 50px;
}

ul {
  list-style: none;
}

nav ul li {
  font-size: 150%;
  display: inline-block;
  float: left;
  padding: 10px;
}

nav ul li a {
  color: #6991AC;
}

.current {
  color: #3F5767;
}

a:hover {
  color: #a5bdcd;
}

.bx-wrapper {
  position: relative;
  padding: 0;
  zoom: 1;
}

.slider {
  max-width: 300px;
  left: 380px;
}


.one-third {
  width: 31.5%;
  float: left;
  padding: 10px;
  text-align: center;
}

.icon-wrap {
  margin: 0 auto;
  width: 120px;
  height: 120px;
  background-color: #6991ac;
  border-radius: 125px;
  text-align: center;
  margin-top: 3%;
}

.icon-wrap i {
  text-align: center;
  color: #ffffff;
  font-size: 450%;
  padding: 20%;
}

/* SECTION 2*/
.left-col {
  float: left;
  margin: 0 auto;
  width: 60%;
  height: auto;
  padding: 1%;
}

.sidebar {
  float: right;
  margin: 0 auto;
  width: 32%;
  height: auto;
  padding: 1%;
}

/* ONE THIRD PADDING*/
.one-third-padding {
  width: 29%;
  float: left;
  margin: 2% 2%;
}

.clearfix-padding {
  clear: both;
  padding: 2%;
}

footer {
  background: #2c3e50;
  width: 100%;
  overflow: auto;
}
.icon-text {
  width: 100%;
  margin: 0 auto;
}

.icon-text-icon {
  float: left;
  width: 20%;
  padding: 4%;
}
.icon-text-text {
  float: left;
  width: 60%;
  padding: 4% 4% 2% 0;
  font-size:
}

.footer-nav {
  text-align: right;
}

.footer-nav a {
  font-size: 160%;
  color: #c3d7df;
  font-weight: 300;
}

.footer-nav a:hover {
  color: #f5f5f5;
}

.social {
  list-style-type: none;
  text-align: center;
}

.social li {
  display: inline;
}

.social i {
  font-size: 420%;
  margin: 1%;
  padding: 5%;
  color: #c3d7df;
}

.social i:hover {
  color: #f5f5f5;
}

footer.second {
  border-top: 1px solid #aadcd2;
  text-align: center;
  margin: 0;
}
footer.second p, .second a {
  text-align: center;
  color: #fff;
  font-size: 160%;
  line-height: 155%;
}

@media screen and (max-width: 768px) {
  p {
    font-size: 130%;
  }
  h3 {
    font-size: 150%;
  }
  header {
    height: 80px;
    position: relative;
  }
  header #logo {
    margin: 15px 0 20px -25px;
    
  }

  #menu-icon {
    display: inline-block;
  }

  nav:hover ul {
    display: block;
  }

  nav ul, nav:active ul {
    display: none;
    z-index: 1000;
    position: absolute;
    padding: 20px;
    background: #f5f5f5;
    border: 1px solid #a5bdcd;
    right: 20px;
    width: 30%;
    opacity: .95;
  }
  nav li {
    text-align: center;
    width: 100%;
  }

  .one-third {
    float: left;
    width: 100%;

  }
  .icon-wrap {
    height: 80px;
    width: 80px;
    margin-top: 3%;
  }

  .icon-wrap i {
    font-size: 250%;
    padding-top: 27%;
  }

  .left-col {
    width: 100%;
    padding: 0;
  }

  .sidebar {
    width: 100%;
  }

  .one-third-padding {
    width: 98%;
    margin: 0;
    padding: 1%;
  }

  .icon-text-icon {
    width: 100%;
    padding: 0 0 2% 0;
  }

  .icon-text-text {
    width: 100%;
    padding: 2% 0 0 0;
    font-size: 80%;
  }

  .footer-nav {
    margin: 0 auto;
    text-align: center;
    padding: 5%;
  }

  .footer-nav li {
    padding: 1%;
  }

}

* {
	margin:0;
	padding:0;
}
 
/*EN EL VIDEO HAY UN ERROR POR EL CUAL NO SE VISUALIZA EN GOOGLE CHROME,
EL CÓDIGO A CONTINUACIÓN YA ESTA CORREGIDO*/
 
header {
	margin-top:10px;
    width: 100%;
    overflow: hidden;
    height: 150px;
    position: relative;
}
 
nav {
    top:20px;
    position: absolute;
    left:50px;
    right:0;
	  margin:20px auto;
	  max-width:1000px;
	  width:90%;
}
 
nav ul {
	list-style:none;
}
 
nav > ul {
	display:table;
	/*Quitamos el overflow hidden que estaba aqui*/
	width:100%;
	
	position:relative;
}
 
nav > ul li {
  display:table-cell;
  background:#2d69da;
  
}
 
/*Sub-menu*/
nav > ul > li:hover > ul {
	display:block;
  height:34%;
 
}
 
nav > ul > li > ul {
	display:block;
	position:absolute;
	background:#000;
	left:0;
	right:0;
	overflow:hidden;
	height:0%;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
 
nav > ul li a {
	color:#7fff43;
	display:block;
	line-height:20px;
	padding:5px;
	position: relative;
	text-align:center;
	text-decoration:none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
  transition: all .3s ease;
  font: oblique bold 120% cursive;
}
 
nav > ul > li > ul > li a:hover {
	background:#5da5a2;
}
 
nav > ul > li > a span {
	background:#174459;
	display:block;
	height:100%;
	width:100%;
	left:0;
	position:absolute;
	top:-55px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
 
nav > ul > li > a span .icon {
	display:block;
	line-height:60  px;
}
 
nav > ul > li > a:hover > span {
	top:0;
}
 
/*Colores*/
nav ul li a .primero {
	background:#72977d;
}
 
nav ul li a .segundo {
	background:#72977d;
}
 
nav ul li a .tercero {
	background:#72977d;
}
 
nav ul li a .cuarto {
	background:#72977d;
}
 
nav ul li a .quinto {
	background:#72977d;
}

